// Font
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);

// Normalize CSS
@import 'normalize';

// Base
@import 'base';

// Layout
@import 'header';
@import 'searchform';
@import 'profilecard';
@import 'elobar';
@import 'matchhistory';
@import 'nsgt';
@import 'footer';
